<section id="about" class="about pad-top-110 pad-bottom-120">
  <div class="container-fluid no-padding">
    <div class="row no-margin">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow animated fadeInLeft" data-wow-delay="0.5s">
        <figure><img src="http://placehold.it/960x436" alt="image" /></figure>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right wow animated fadeInRight" data-wow-delay="0.5s">
            <h6 class="titleTop"> WELCOME TO Fitness point </h6>
            <h2 class="sectionTitle">WHat Is <span>Fitness point?</span></h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt inculpa qui officia deserunt mollit anim id est laborum. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>