<section id="boxes" class="boxes pad-top-120 pad-bottom-110">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="box box-1">
          <figure><img src="http://placehold.it/892x640" alt="image" /></figure>
          <div class="boxInfo">
            <h3> Dite Tips </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="box box-2">
          <figure><img src="http://placehold.it/892x640" alt="image" /></figure>
          <div class="boxInfo">
            <h3> Training Like a Pro </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="box box-3">
          <figure><img src="http://placehold.it/892x640" alt="image" /></figure>
          <div class="boxInfo">
            <h3> Beauty Tips </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>