<div id="site-head">

  <!-- Top Header Section Begins -->
  <div class="top-head">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul class=" pull-right">
            <li> <i class="fa fa-clock-o" aria-hidden="true"></i> 8.00  – 23.00 pm </li>
            <li>
              <a href="#"> <i class="fa fa-user" aria-hidden="true"></i> Registre-se </a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-lock" aria-hidden="true"></i> Login </a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrinho </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Header Section Ends -->

  <!-- Header Section Begins -->
  <app-menu></app-menu>
  <!-- Header Section Ends -->

  <!-- Banner Section Begins -->
  <app-banner-topo></app-banner-topo>
  <!-- Banner Section Ends -->

  <!-- Scroll Down Section Begins -->
  <section class="scrollDown scrollbtn">
    <h6> <a href="#boxes"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Scroll Down </a> </h6>
  </section>
  <!-- Scroll Down Section Ends -->

</div>
